.bar{
	border-radius: 10px;
	border: limegreen 2px solid;
	width: 98%;
	height: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	margin:  auto;
	margin-top: 3vh;
	box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);
}

.fill{
	width: 21%;
	height: 10px;
	margin-right: auto;
	border-radius: 10px;
	background-color: limegreen;
}

body{
	background-color: black;
	color: white;
	font-family: 'VT323', monospace;
	justify-content: center;
  	align-items: center;
  	text-shadow: 0px 0px 3px #32CD32;
}

.text{
	margin-top: 23.5vh;
	display: flex;
	justify-content: center;
}


p{
	font-size: 2vw;
	line-height: 80%;
  	margin-left: auto;
  	margin-right: auto;
 	display: block;
 	margin-bottom: 5vh;
}

.text{
	font-size: 2vw;
	line-height: 80%;
	width: 60%;
  	margin-left: auto;
  	margin-right: auto;
 	display: block;
}

.text2{
	margin-top: 5vh;
	display: none;
}


button{
	text-shadow: 0px 0px 3px #32CD32;
	background-color: black;
	font-family: 'VT323', monospace;
	font-weight: 700;
	color: limegreen;
	text-decoration: none;
	font-size: 3.2vw;
	padding: .75vw;
	border: 1px solid limegreen;
	border-radius: 5px;
	z-index: 0;
	transition: .2s;
	display: block;
 	text-align: center;
 	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
}


button:hover{
	background-color: limegreen;
	color: black;
	transition: .2s;
	cursor: pointer;
}

.go>a{
	font-style: normal;
	font-weight: 700;
	color: limegreen;
	text-decoration: none;
	font-size: 3.2vw;
	padding: .75vw;
	border: 1px solid limegreen;
	border-radius: 5px;
	z-index: 0;
	transition: .2s;
	margin: 5%;
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
}

#fail2{
	margin-left: 8vw;
}

.go{ 
 	display: block;
 	text-align: center;
}
#two{
	margin-top: 11vh;
}

.go>a:hover{
	background-color: limegreen;
	color: black;
	transition: .2s;
	cursor: pointer;
}

footer{
	font-size: 1vw;
	margin-bottom: 2vh;
	text-align: center;
	position:  absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

footer > a {
	text-decoration: none;
	color: limegreen;
	padding: .25vw;
	transition: .2s;
}

footer > a:hover{
	color: black;
	background-color: limegreen;
	border-radius: 4px;
}



@media only screen and (max-width: 600px){
	.text{
		margin-top: 12.5vh;
	}

	#two{
		margin-top: 4vh;
		margin-bottom: -30vh;
	}
	button,.go>a{
		font-size: 7.2vw;
		padding: 2vw;
	}


	p{
		font-size: 4vw;
	}

	footer{
		font-size: 2vw;
		position: relative;
		margin-top: 38vh;
	}

	#two > a{
		display: flex;
		padding: 3.5vh;
		margin: 0;
		margin-bottom: 2.5vh;
	}
	}