.bar{
	border-radius: 10px;
	border: limegreen 2px solid;
	width: 98%;
	height: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	margin:  auto;
	margin-top: 3vh;
	box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.5);
}

.fill{
	width:37%;
	height: 10px;
	margin-right: auto;
	border-radius: 10px;
	background-color: limegreen;
}

body{
	background-color: black;
	color: white;
	font-family: 'VT323', monospace;
	justify-content: center;
  	align-items: center;
  	text-shadow: 0px 0px 3px #32CD32;
}

.text{
	margin-top: 16.5vh;
	display: flex;
	justify-content: center;
}


p{
	font-size: 2vw;
	line-height: 80%;
	width: 60%;
  	margin-left: auto;
  	margin-right: auto;
 	display: block;
 	margin-bottom: 10vh;
}


.buttons>a{
	font-style: normal;
	font-weight: 700;
	color: limegreen;
	text-decoration: none;
	font-size: 3.2vw;
	padding: .75vw;
	border: 1px solid limegreen;
	border-radius: 5px;
	transition: .2s;
	margin: 5%;
	box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
}

.buttons{ 
 	display: block;
 	text-align: center;
}

.buttons>a:hover{
	background-color: limegreen;
	color: black;
	transition: .2s;
	cursor: pointer;
}

footer{
	font-size: 1vw;
	margin-bottom: 2vh;
	text-align: center;
	position:  absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

footer > a {
	text-decoration: none;
	color: limegreen;
	padding: .25vw;
	transition: .2s;
}

footer > a:hover{
	color: black;
	background-color: limegreen;
	border-radius: 4px;
}

@media only screen and (max-width: 600px){

	.text{
		margin-top: 10vh;
		margin-bottom: -2vh;
	}

	.buttons>a{
		font-size: 6.7vw;
		padding: 2vw;
		justify-content: center;
		margin-bottom: 4vh;
		display: flex;
		text-align: left;

	}

	.buttons{
		text-align: left;
		margin-left: 16vw;
		margin-right: 16vw;
	}

	p{
		font-size: 4vw;
		margin-bottom: 8vh;
	}

	footer{
		font-size: 2vw;
	}
	}

	@media only screen and (max-width: 400px){

	.text{
		margin-bottom: -2vh;
	}


	.buttons>a{
		font-size: 7.5vw;
		padding: 3vw;
		margin-bottom: 2.5vh;
	}

	.buttons{
		text-align: left;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	p{
		font-size: 5vw;
		line-height: 90%;
		width: 75%;
	}

	footer{
		font-size: 2vw;
	}
}