body{
	background-color: black;
	color: white;
	font-family: 'VT323', monospace;
	justify-content: center;
	margin-top: 30vh;

}

p{
	font-size: 2vw;
	line-height: 80%;
	width: 60%;
  	margin-left: auto;
  	margin-right: auto;
 	display: block;
 	margin-bottom: 10vh;
}


a{
	font-style: normal;
	font-weight: 700;
	color: limegreen;
	text-decoration: none;
	font-size: 3.2vw;
	padding: .75vw;
	border: 1px solid limegreen;
	border-radius: 5px;
	z-index: 0;
	transition: .2s;
}

.go{ 
 	display: block;
 	text-align: center;
}

a:hover{
	background-color: limegreen;
	color: black;
	transition: .2s;
	cursor: pointer;
}

@media only screen and (max-width: 600px){
	body{
		margin-top: 20vh;
	}
	a{
		font-size: 9vw;
		padding: 2vw;
	}
	p{
		font-size: 4vw;
	}
	}